<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>
		<mapping class="st.isacc.entity.TblIncident" />
		<mapping class="st.isacc.entity.TblTask" />
		<mapping class="st.isacc.entity.TblUser" />
		<mapping class="st.isacc.entity.EmployeeBean" />
		<mapping class="st.isacc.entity.BrandEntity" />
		<mapping class="st.isacc.entity.TblMessageGroup" />
		<mapping class="st.isacc.entity.TblMessageGroupMessage" />
		<mapping class="st.isacc.entity.TblMessageReadStatu" />
		<mapping class="st.isacc.entity.TblMessageReadStatuPK" />
		<mapping class="st.isacc.entity.TblHistoryLoc" />
		<mapping class="st.isacc.entity.TblCurrentLoc" />
		<mapping class="st.isacc.entity.TblDeviceToken" />
		<mapping class="st.isacc.entity.TblImageInfo" />
	
	</session-factory>

</hibernate-configuration>